.nav{
    background: black;
    max-height: max-content;
}

.logo{
    padding: 0px;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: 0;
    margin-right: 0;
    height: 60px;
    width:auto
}

.nav-heading{
    color: aliceblue;
    margin-left: 75%;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
    font-size:17pt;
}

#heading{
    text-align: center;
}
#first-div-description{
    margin-top: 3%;
    font-family:sans-serif;
    color: black;
}

